
/* @group top level */

body
{
	padding: 0;
	margin: 0;
	background: #32103C url('../chrome/v2-body-bkgd.jpg') repeat-x top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
	color: #eef;
}

body p
{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 25px;
	text-align: justify;
}

li
{
	margin-bottom: 8px;
}

form
{
	display: inline;
	margin: 0;
	padding: 0;
}

input
{
	background: #000;
	color: #ec0;
	border: 1px solid #9BACCE;
	text-decoration: none;
}

a
{
	color: #ec0;
}

h1, h2, h3, h4, h5
{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	word-break: hyphenate;
}

hr
{
	border: none;
	height: 2px;
	background: -moz-linear-gradient(0deg, rgba(85, 101, 119, 0) 0%, #556677 20%, #556677 80%, rgba(85, 101, 119, 0) 100%) #345;
	background: -webkit-gradient(linear, left bottom, right bottom, from(rgba(85, 101, 119, 0)), color-stop(0.2, #556677), color-stop(0.8, #556677), to(rgba(85, 101, 119, 0))) #345;
}

cite
{
	color: #36C;
}

.small
{
	font-size: small;
}

.smaller
{
	font-size: smaller;
}

.spacer
{
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
}

/* @end */

/* @group structure and header */

#main
{
	margin: auto;
	text-align: left;
	width: 940px;
}

#header
{
	margin: 0 auto;
	height: 80px;
	padding: 12px 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

#title
{
	display: block;
	float: left;
	width: 200px;
	height: 82px;
	background: transparent url('../chrome/v2-chrome-main.png') no-repeat top left;
	_background-image: url('/chrome/v2-chrome-main.gif');
}

#title h1
{
	display: block;
	margin: 0;
	padding: 0;
}

#title h1 a
{
	display: block;
	width: 200px;
	height: 82px;
}

#tools
{
	width: 580px;
	height: 39px;
	float: right;
	font-size: 14px;
	line-height: 24px;
	text-align: right;
	vertical-align: middle;
	padding: 0;
	margin: 5px 0 0 0;
}

#tools a
{
	color: #fff;
}

#tools p,
#tools ul,
#tools li
{
	display: inline;
	padding: 0 0 0 10px;
	margin: 0;
}

#tools form
{
	margin-right: -20px;
}

#tools input
{
	vertical-align: middle;
	margin: 0 0 0 3px;
	padding: 3px 10px;
	max-width: 80px;
	font-size: 12px;
	line-height: 16px;
	height: 18px;
	background-image: url('../chrome/input_bkgd_header.jpg');
	border: 1px solid #7b8eac;
}

#tools input.loginbutton
{
	padding: 3px 0;
	width: 80px;
	font-weight: bold;
	color: #ec0;
	height: 26px !important;
	background-image: url('../chrome/button_bkgd_small.jpg');
}

body#home #tools a.dashlink
{
	color: #c4c;
	text-decoration: underline;
}

#topnav
{
	display: block;
	float: right;
	width: 550px;
	height: 33px;
	margin: 0;
	padding: 0;
}

#topnav li
{
	text-align: center;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#topnav li a
{
	display: block;
	color: #eef;
	height: 33px;
	line-height: 33px !important;
	background: url('/chrome/v2-chrome-main.png') no-repeat -328px 0 transparent;
	_background-image: url('/chrome/v2-chrome-main.gif');
}

#topnav li#nav1 a
{
	background-position: -200px 0;
	width: 117px;
}

#topnav li#nav2 a { width: 128px; }
#topnav li#nav3 a { width: 107px; }
#topnav li#nav4 a { width: 98px; }

#topnav li#nav5 a
{
	background-position: -476px 0;
	width: 100px;
}

#topnav li a:hover
{
	background-position: -328px -33px;
	text-decoration: none;
	color: #fff;
}

#topnav li#nav1 a:hover
{
	background-position: -200px -33px;
}

#topnav li#nav5 a:hover
{
	background-position: -476px -33px;
}


#google_ad_header
{
	width: 728px;
	height: 90px;
	margin: 5px auto 17px;
	border: 1px solid #909;
}

#page
{
	background-color: #000;
	text-align: left;
	min-height: 640px;
	margin: 0;
	padding: 19px 0;
	border: 1px solid #688FD3;
	vertical-align: top;
	-moz-box-shadow: 0 0 15px #81a3e2;
	-webkit-box-shadow: 0 0 15px #81a3e2;
	box-shadow: 0 0 15px #81a3e2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#subnav ul
{
	display: block;
	border: 1px solid #43577b;
	height:  32px;
	margin: 0 18px 20px 20px;
	padding: 0;
	background: -moz-linear-gradient(90deg, hsl(218, 20%, 10%) 0%, hsl(218, 15%, 24%) 60%, hsl(218, 15%, 30%) 60%, hsl(218, 15%, 51%) 100%) #000;
	background: -webkit-gradient(linear, left bottom, left top, from(hsl(218, 15%, 10%)), color-stop(0.6, hsl(218, 15%, 24%)), color-stop(0.6, hsl(218, 15%, 32%)), to(hsl(218, 15%, 25%))) #000;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334455', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	_background: #345 url('../chrome/button_bkgd.jpg') repeat-x;
}

#subnav a.active
{
	color: #fff;
}

#subnav ul li
{
	float: left;
	padding: 0;
	text-align: left;
	list-style-type: none;
}

#subnav ul li a
{
	display: inline;
	padding: 0 10px;
	line-height: 32px;
	color: #ec0;
	font-weight: bold;
}

#subnav ul li a:hover
{
	background: none;
	color: #ffec00;
}

body #subnav ul
{
	display: none;
}

body#home #subnav .nav_dashboard,
body#friendsmanager .nav_dashboard,
body#groupsmanager .nav_dashboard,
body#awardsmanager .nav_dashboard,
body#collectionsmanager .nav_dashboard,
body#everyones #subnav .nav_games,
body#members #subnav .nav_members,
body#creators #subnav .nav_creators
{
	display: block;
}

#content
{
	display: inline;
	float: left;
	margin: 0 10px 20px 20px;
	width: 570px;
}

#admin #content
{
	width: 745px;
	margin: 0 10px 20px 20px;
}

#sidebar
{
	display: inline;
	float: left;
	width: 302px;
	padding: 0;
	margin: 0 0 20px 20px;
}

#sidebar h4
{
	font-size: 14px;
	margin-bottom: 10px;
}

#footer
{
	clear: both;
	margin: 25px 20px 0 20px !important;
}


.advert
{
	font-family: Verdana, Helvetica, arial, sans-serif;
	font-size: 11px;
}

#bottomnav
{
	margin: 0 auto -40px 0;
	padding: 20px 0;
	width: 100%;
	height: 140px;
	background: transparent url('../chrome/v2-bottom-bkgd.jpg') repeat-x bottom;
}

#bottomnav ul
{
	margin: 0;
	padding: 0;
}

#bottomnav li
{
	display: inline;
	padding: 0 15px;
}

#bottomnav li a
{
	color: #fff;
}

#bottomnav li a.help
{
	color: #eco;
}

/* @end */

/* @group home page */

body#home div.homebuttons
{
	margin-top: 15px;
}

body#home div.homebuttons img
{
	margin-left: 9px;
}

body#home div.homebuttons img.first
{
	margin-left: 0;
}

/* @end */

/* @group typography and status indicators */


h3
{
	color: #659cff;
	margin-top: 0;
	margin-bottom: 10px;
	font: 800 42px 'Raleway', "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 700;
	opacity: 1;
}

h3 img {
	padding-right: 10px;
	vertical-align: middle;
	padding-bottom: 10px;
}

h4
{
	font-size: 16px;
}

h4.subtitle
{
	color: #89a;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: -10px;
	margin-left: 2px;
	margin-bottom: 3px;
	font-weight: normal;
}

a
{
	color: #ea0;
	font-weight: normal;
	text-decoration: none;
}

#header a,
h2 a,
h3 a,
h4 a,
h5 a
{
	font-weight: 800;
}

a.sublink
{
	font-weight: normal;
}

a.sublink:hover
{
	font-weight: normal;
}

a:hover
{
	color: #ffec00;
	text-decoration: none;
}

a img
{
	border: 0;
}

.contentimage
{
	float: right;
	clear: right;
	margin-left: 20px;
}

.note
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #bce;
}

ul.note li
{
	font-size: 11px;
	list-style-type: square;
	line-height: 14px;
	margin-bottom: 6px;
}

.prompt,
.alert,
.promo
{
	color: #def;
	font-size: 16px;
	margin: 8px 0 20px 0;
	padding: 15px 20px 18px 52px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #2854a3 url('../chrome/icons_status.png') no-repeat -290px -110px;
}

.promo div,
.promo span
{
	color: #89a !important;
}

.prompt a,
.alert a
{
	text-decoration: none;
	color: #ec0;
}

.alert
{
	background-color: #930;
	background-position: -350px -50px;
}

.promo
{
	background-color: #456;
	background-position: -230px -170px;
}

.gamerating
{
	background-position: -170px -230px;
	background-color: #606;
	font-size: 11px;
	padding: 10px 10px 14px 55px;
}

.gamerating span, .gamerating div
{
	color: #c4c !important;
}
.prompt p, .alert p, .promo p
{
	margin-bottom: 0;
}

.warning
{
	background-color: #753;
	background-position: -50px -350px;
}

.set .prompt
{
	background-color: transparent;
}

p.showresults a
{
	color: #396;
}

span.hide
{
	display: none;
}

.shown_inline
{
	display: inline;
}

.hidden
{
	display: none;
	clear: both;
}

.hidden_inline
{
	display: none;
}

.show
{
	display: block;
	clear: both;
}

/* @end */

/* @group form styles */

textarea
{
	font-family: "Courier New", Courier, mono;
	color: #ec0;
	padding: 10px;
}

input.biginput
{
	font-size: 15px;
	color: #0f9;
	font-weight: bold;
	padding: 8px;
}

input.checkbutton
{
	border: 0;
	background-color: transparent;
	background-image: none;
}


input.postbutton

{
	font-weight: bold;
	font-size: 15px;
	color: #ec0;
	padding: 6px 12px;
	background-image: url('../chrome/button_bkgd.jpg');
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}

.textform
{
	border: 1px dotted #bcd;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 15px;
	margin: 10px 0;
}

.fileinput,
.shown
{
	display: block;
	margin: auto;
	clear: both;
}

.buttons
{
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	width: 100%;
	line-height: 36px;
}

.topbuttons
{
	margin: 0 0 10px 0;
	padding: 0;
	text-align: right;
}

#content .firstbutton a,
.pagination .firstbutton,
.pagination .firstbutton a
{
	margin-left: 0;
}

input,
textarea
{
	background-image: url('../chrome/input_bkgd.gif');
	border: 1px solid #89a;
	font-size: 13px;
	padding: 3px;
}

/* @end */

/* @group views */

div.gameobject, #everyones #flashcontent {
	width: 640px;
	height: 480px;
	color: #666;
	font-size: 18px;
}

#flashcontent2 {
	z-index: 101;
	width: 724px;
	height: 510px;
	margin: 0 auto;
}

p.graph
{
	width: 570px;
	height: 220px;
	background-image: url('../chrome/graph_loading.gif');
}

p.graph img
{
	width: 570px;
	height: 220px;
}

#viewpage .alert
{
	clear: both;
}

.set,
.description
{
	background: url('../chrome/noise.png') repeat #383f4c;
	_background-image: none;
	border: 1px solid #567;
	clear: both;
	text-align: left;
	padding: 20px 0 20px 20px;
	margin: 1px 1px 20px 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.secondaryset,
.description
{
	background-color: #161b26;
}

.description
{
	font-size: 16px;
	padding:  20px !important;
	line-height: 24px;
	color:  #eef;
	margin-bottom: 12px !important;
}

.set .setiteminfo
{
	float: left;
	width: 280px;
}

.set p
{
	font-size: 14px;
	line-height: 24px;
	margin: 0 40px 20px 0;
}

.set h4
{
	margin: 0 0 20px 0 !important;
	color: #def;
	font-size: 24px;
}

div.set div.grid
{
	margin-right: -20px;
	margin-bottom: -20px;
}

div.more
{
	display: block !important;
	clear: both;
	text-align: right;
	padding: 20px 45px 10px 0;
	font-size: 16px;
}

.pagination
{
	display: block;
	clear: both;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 22px;
	text-align: right;
}

span.button,
div.button
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #678;
	white-space: nowrap;
}

span.button a,
div.button a,
input.post_button
{
	border: 1px solid #567;
	background: url(https://cdn.sploder.com/chrome/button_bkgd_small.jpg) repeat-x top;
	padding: 8px 12px;
	margin-left: 10px;
	white-space: nowrap;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #cde;
}

span.button a:hover,
div.button a:hover,
input.post_button:hover
{
	color: #fff;
	border: 1px solid #bcd;
	text-decoration: none;
}

div.big,
span.big
{
	margin: 30px 0;
	font-size: 15px;
}

.big a,
.big a:hover,
div#content div.big a
{
	border: 2px solid #bcd;
}

.inactive
{
	border: 1px solid #345;
	background: #000;
	color: #333;
	background-image: none;
	padding: 8px 12px;
	margin-left: 10px;
	font-weight: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.adslot
{
	color: #fff;
	line-height: 80px;
	background: transparent;
	text-align: center;
	margin: 5px auto 20px auto;
}

#sidebar .adslot
{
	clear: both;
	margin: 30px 0 30px 0;
}

body.gamepage #sidebar .adslot
{
	margin: 150px 0 25px 6px;
}

/* @end */

/* @group new pagination */

a.page_button, span.page_button
{
	display: block;
	min-width: 18px;
	padding: 0 5px;
	text-align: center;
	line-height: 28px;
	height: 28px;
	float: right;
	border: 1px solid #567;
	margin: 0 0 0 6px;
	color: #79a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.page_button
{
	color: #eef;
}

a.page_button:hover
{
	background-color: #c4c;
	border-color: #f7f;
	background-image: none;
}

span.page_button
{
	color: #f7f;
	background-color: #c4c;
	border-color: #f7f;
}

span.page_button_inactive
{
	background-color: #000;
	border-color: #345;
	color: #345;
}

a.page_next
{
	border-color: #567;
	background: url('../chrome/button_bkgd_small.jpg') repeat-x;
	padding: 0 15px;
}

span.page_next
{
	color: #89a;
}

/* @end */

/* @group game lists */

.photo img,
.photo a img,
.results .photo img,
body.egl a.thumb img
{
	display: block;
	width: 80px;
	height: 80px;
	padding: 7px;
	border: 1px solid #fff;
	margin: auto;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#cdcdcd), to(#ffffff));
	background-image: -moz-linear-gradient(90deg, #cdcdcd 0%, #ffffff 100%);
}

.photo a,
.photo a:hover,
.game a:hover
{
	text-decoration: none;
	border-bottom: none;
}

div.new_game .photo a img {
	background-image: none;
	background-color: #cc3300;
	border: 1px solid #ff6600;
}

div.new_game .photo a:hover img,
.photo a:hover img
{
	background: #ffec00 !important;
	border: 1px solid #fff !important;
}

div#viewpage div.set div.vignette div.photo,
div#viewpage2 div.set div.vignette div.photo
{
	margin: 0;
	height: 100px;
}

div#viewpage div.set div.vignette,
div#viewpage2 div.set div.vignette
{
	width: 20%;
	margin: 0 5% 1.5em 0;
	*width: 18%;
	float: left;
	clear: none;
}

.set .vignette .info
{
	text-align: center;
	width: 96px;
}

body.hallofgame .set .vignette .photo
{
	height: 100px;
	float: none;
}

body.hallofgame .set .vignette h4
{
	font-size: 13px;
	line-height: 12px;
}

body.hallofgame .set .vignette h4 a
{
	color: #ec0;
	font-weight: 800;
}

/* @end */

/* @group game item */

div.set div.game {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	overflow:hidden;
	_overflow:visible;
	zoom:1;
	padding: 0;
	margin: 0 4% 1.5em 0;
	width: 45%;
	_width: 43%;
	display: inline;
	float: left;
	clear: none;
}

#admin div.set div.game
{
	width: 230px;
}

div.set div.game div.photo
{
	display: block;
	float: left;
	width: 95px;
	margin: 0 15px 10px 0;
}

div.related_set div.game
{
	width: 76px;
}

div.related_set div.game div.photo
{
	height: 72px;
}


div.set div.game div.photo img
{
	margin-left: 0;
}

div.set div.largegame
{
	display: inline;
	float: left;
	height: 240px;
	padding: 0;
	margin: 10px 0 0 12px;
}

#admin div.set div.largegame
{
	height: 280px;
}

div.set div.largegame div.photo,
div.set div.largegame div.photo img
{
	margin: 0;
	width: 220px;
	height: 220px;
}

#admin div.set div.largegame div.photo
{
	float: none;
}

div.featured div.photo a img
{
	background-color: #fc0;
	background-image: none;
}

.game p.gamedate
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #79a;
	line-height: 12px;
	font-weight: normal;
}

.game h4
{
	clear: none;
	color: #fff;
	font-size: 18px;
	line-height: 17px;
	margin: 0 !important;
	overflow: hidden;
	padding: 2px 0;
}

.game h4 a
{
	color: #a3c0f4;
}

.game h4 a:hover
{
	color: #fff;
}

.game h5
{
	font-size: 12px;
	margin: 0 0 8px 0;
	padding: 0;
	font-weight: 300;
	overflow: hidden;
}

.game h5 a
{
	color: #d60;
}

p.gamevote,
p.gameviews
{
	font-size: 11px;
	line-height: 12px;
	color: #c4c;
	text-align: left;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

p.gamevote img
{
	vertical-align: middle;
	padding: 0px 0 3px 0;
}

/* @end */

/* @group game item controls */

.photoinput
{
	height: 120px;
}

.photo input,
.game input
{
	margin: 10px 0 0 0;
	font-size: 10px;
	color: #fff;
	background-color: #c4c !important;
	background-image: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.photo input:hover,
.photo a:hover input,
.game input:hover,
.game a:hover input
{
	background-color: #f9f;
}

.game h5 input
{
	margin-top: 0;
	margin-bottom: -1px;
	margin-left: 5px;
}

/* @end */

/* @group avatar lists */

img.p_avatar
{
	float: left;
}

.set a.avatar {
	display: block;
	float: left;
	overflow: hidden;
	width: 170px;
	height: 36px;
}
.set a.avatar img {
	vertical-align: middle;
	padding-right: 6px;
}

/* @end */

/* @group freetag styles */

body div.tagbox
{
	margin: 20px 0;
	font-family: Courier New, Courier, typewriter, Times New Roman,
		Times, serif;
	font-weight: bold;
}

body div.tagbox h4
{
	padding: 0;
	margin: 0;
}

p.tags
{
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 8px 0;
}

div.tagbox a,
p.tags a
{
	font-weight: bold;
}

#content div.tagbox span.button a
{
	font-weight: bold;
}

div#show p.tags
{
	font-size: 12px;
	margin-top: 0;
}

div.tagbox a.tagcolor0,
span.tagcolor0
{
	color: #f09;
}

div.tagbox a.tagcolor1,
span.tagcolor1
{
	color:#69f;
}

div.tagbox a.tagcolor2,
span.tagcolor2
{
	color:#0f9;
}

div.tagbox a.tagcolor3,
span.tagcolor3
{
	color:#f90;
}

div.tagbox span.count
{
	font-weight: normal;
	font-size: 11px;
	color: #89a;
}

body div.tagbox form
{
	width: 100%;
	margin: 10px 0;
	text-align: right;
}

div.tagbox form input
{
	line-height: 16px;
}

/* @end */

/* @group friends */

div#friends {
	clear: both;
	position: relative;
	background: #000 url("/friends/chrome/element_bkgd.gif") repeat-x top;
	margin: 20px 0;
	padding: 20px 0 20px 20px;
	border: 2px solid #444;
}

div#group_members h4,
div#friends h4 {
	color: #89a !important;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0;
}

div.member_48,
div.friend_48 {
	width: 15%;
	height: 73px;
	float: left;
	margin: 0 25px 25px 0;
	padding: 0 0 4px 0;
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 11px;
	letter-spacing: -1px;
}

div.member_48 img,
div.friend_48 img {
	margin: 0 8px 4px 8px !important;
	clear: both;
}

div.member_48 a,
div.friend_48 a {
	display: block !important;
	clear: both;
}

div.friend_48_best
{
	padding-top: 5px;
	height: 68px;
	margin-top: -2px;
	background-color: #345;
	border: 1px solid #456;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* @end */

/* @group sidebar */

.bucket ul,
.bucket li
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 125%;
	margin-bottom: 5px;
}

.bucket h3, .bucket h4
{
	color: #c4c !important;
}

.bucket h5
{
	color: #ccd;
	margin: 0 0 10px 0;
	font-size: 18px;
}

#content .bucket,
#sidebar .bucket
{
	border: 1px solid #345;
	padding: 15px;
	margin-right: 2px;
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: visible !important;
}

#sidebar .art_title
{
	margin: -20px 0;
	_margin: 0;
}

#sidebar .art_title img
{
	margin: 0 -80px 10px 0;
	z-index: 200 !important;
	_display: none;
}

#sidebar h3
{
	clear: none;
	line-height: 95%;
	font-size: 24px;
}

#sidebar h3 span
{
	font-size: 42px;
	line-height: 42px;
}

#sidebar h3 .highlight
{
	color: #c30;
}

#sidebar .art_title h3
{
	padding-top: 30px;
}

#content .sideimage
{
	margin-top: 20px;
}

#sidebar .sideimage
{
	float: right;
}

.bucket ul
{
	clear: both;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: none;
	overflow: hidden;
}

.bucket ul li
{
	margin: 0;
	padding: 0.5em;
}

.bucket ul li.venue
{
	padding: 1.0em 0.5em;
	line-height: 16px;
	color: #69a;
}

.bucket ul a.title_link
{
	font-weight: bold;
}

.bucket ul span.viewscomments,
.bucket ul a.author_link
{
	color: #3bc;
}

.bucket ul .even,
.moregames ul li:nth-child(odd)
{
	background-color: #234;
	color:  ;
}

.bucket ul .odd,
.moregames ul li:nth-child(even)
{
	background-color: #123;
}

.bucket ul li.iconsmall 
{
	line-height: 16px;
	min-height: 20px;
}

.bucket ul li.iconsmall img
{
	vertical-align: middle;
	margin: -3px 10px 0 0;
	float: left;
}

.moregames img.sideimage
{
	margin: 42px 0 0px 40px !important;
}

.moregames img.avatar
{
	float: left;
	margin-right: 10px;
	vertical-align: middle;
}

.moregames h4
{
	margin-left: 20px;
}

.moregames .art_title_small h4
{
	margin-left: 0;
}

#sidebar div.newfeatures
{
	margin: 0 8px 20px 0;
}

#sidebar div.newfeatures h4
{
	font-size: 16px;
	background: transparent url(https://cdn.sploder.com/chrome/feature_check.gif) no-repeat top left;
	padding-left: 30px;
	line-height: 28px;
}

#sidebar ul.contentpromo li
{
	padding: 3px;
	margin: 0;
}

#sidebar ul.contentpromo li.odd
{
	background-color: #111;
}

#sidebar div.promo_home
{
	background: url(https://cdn.sploder.com/chrome/promo_bkgd_175.gif) no-repeat top left;
	width: 175px;
	height: 140px;
	margin: 0;
	border: 1px solid black;
	margin-top: 10px;
}

#sidebar div.promo_home p
{
	font-size: 11px;
	font-weight: bold;
	margin: 23px 15px;
	line-height: 18px;
}

#sidebar div.promo_home p strong
{
	color: #fff;
}

/* @end */

/* @group page types */

/* creators */

body#home #sidebar .adslot
{
	margin: 14px 0 20px 0 !important;
}

body #sidebar .online_box
{
	height: 848px;
	margin-bottom: 30px;
}

body#creator #content
{
	width: 900px;
	text-align: center;
}

body#creator #subnav .nav_creators
{
	display: block;
}

body#creator #page #footer .adslot
{
	margin-top: 70px !important;
}

body.featured .nav_games li:nth-child(2) a,
body.newest .nav_games li:nth-child(3) a,
body.reviews .nav_games li:nth-child(4) a,
body.collections .nav_games li:nth-child(5) a,
body.graphics .nav_games li:nth-child(6) a,
body.favorites .nav_games li:nth-child(7) a,
body.web .nav_games li:nth-child(8) a,
body.tags .nav_games li:nth-child(9) a,
body.hallofgame .nav_games li:nth-child(10) a,
body.egl .nav_games li:nth-child(11) a,
body.search .nav_games li:nth-child(12) a,
body.arcade .nav_creators li:nth-child(2) a,
body.platformer .nav_creators li:nth-child(3) a,
body.physics .nav_creators li:nth-child(4) a,
body.graphicseditor .nav_creators li:nth-child(5) a,
body.shooter .nav_creators li:nth-child(6) a,
body.threedee .nav_creators li:nth-child(7) a
{
	color: #fff !important;
}

div.live_status_message
{
	border: 1px solid #999;
	color: #ccc;
	padding: 6px;
	margin: 0 0 20px 0;
	font-size: 11px;
	background: #660066
}

body#creator h3
{
	display: none;
}

div#creatorcontainer
{
	float: none;
	display: block;
	margin: 10px auto;
	border: 1px solid white;
	width: 720px;
	height: 540px;
}

/* documents */

body.docs #content
{
	width: inherit;
	padding: 20px;
	border: 1px solid #333;
	margin-right: 20px;
}

body.docs #content h4
{
	color: #c4c;
	font-size: 2em;
	margin-bottom: 1em;
}

body.docs #content h5
{
	color: #c4c;
	font-size: 1.75em;
	margin-bottom: 0.75em;
}

body.docs #content p
{
	font-size: 1.25em;
	line-height: 1.5em;
	color: #ccd;
	margin-top: 0;
}

body.docs #content p:first-of-type
{
	font-size: 1.75em;
	color: #fff;
}

body.docs #content ul
{
	margin: 0 0 2em 0;
	font-size: 1em;
}

body.docs #content img
{
	float: left;
	margin: 0 20px 90px 0;
}

body#creator #sidebar,
body.docs #sidebar
{
	display: none;
}

body.docs #footer
{
	display: none;
}

/* archive */

td.calendar-day,
td.calendar-day a
{
	height: 3em;
	line-height: 3em;
}

div.sidecal h2 a,
div.sidecal h3 a,
div.sidecal h2 span,
div.sidecal h3 span
{
	padding: 10px;
}

div.sidecal h3 span
{
	font-size: 24px !important;
}

/* egl */

body.egl h4
{
	font-size: 36px !important;
	line-height: 36px;
}

body.egl a.thumb {
	display: block;
	float: right;
	border: 1px solid white;
	padding: 0;
	margin: 25px 0 14px 35px !important;
	text-decoration: none;
	color: #fff;
}

body.egl div.game {
	margin-bottom: 20px;
	clear: both;
}

body.egl div.game p {
	color: #bbc;
	padding-top: 8px;
	line-height: 22px;

}

/* promos */


ul.contentpromo
{
	line-height: 16px;
	margin-right: 10px;
	list-style-type: none;
}

ul.contentpromo li
{
	padding: 3px 0;
	margin: 0;
	line-height: 13px;
}

ul.contentpromo li a
{
	font-size: 11px;
	font-weight: normal;
	color: #9BACCE;
}

ul.contentpromo li a:hover
{
	color: #fff;
	text-decoration: none;
}

#content ul.contentpromo
{
	margin: 0 0 20px 0;
	height: 120px;
	padding: 0;
}

#content ul.contentpromo li
{
	width: 240px;
	float: left;
	margin: 0;
	list-style-position: inside;
	white-space: nowrap;
	overflow: hidden;
}

#content .bucket .art_title
{
	float:  left;
	width: 200px;
	margin-top: -15px;
	overflow: hidden;
}

#content .art_title h3
{
	font-size: 18px;
	padding: 0 30px;
	width: 160px;
}

#content .bucket ul
{
	clear: none;
}

.bucket div.power_chart
{
	position: relative;
	overflow: hidden;
}

.bucket div.power_chart ul
{
	padding: 10px 0 10px 0;
	width: 600px;
}

.bucket div.power_chart li
{
	position: inherit;
	width: 24px;
	padding:  0;
	height: 140px;
	float:  left;
}

.bucket div.power_chart li.even
{
	background-image: -webkit-gradient(linear, left bottom, left top, from(#2837a3), color-stop(0.5, #922db7), to(#cc3272));
	background-image: -moz-linear-gradient(90deg, #2837a3 0%, #922db7 50%, #cc3272 100%);
}

.bucket div.power_chart li.odd
{
	background-image: -webkit-gradient(linear, left bottom, left top, from(#1e297a), color-stop(0.5, #71238e), to(#a3285b));
	background-image: -moz-linear-gradient(90deg, #1e297a 0%, #71238e 50%, #a3285b 100%);
}

.bucket div.power_chart li.super
{
	background-image: -webkit-gradient(linear, left bottom, left top, from(#660000), color-stop(0.5, #cc6600), to(#feff33));
	background-image: -moz-linear-gradient(90deg, #660000 0%, #cc6600 50%, #feff33 100%);
}

.bucket div.power_chart li a
{
	display: block;
	background-color: #000;
}

.bucket div.power_chart li a img
{
	margin-bottom: -10px;
}

li a.lev_1 img { padding-top: 100px; }
li a.lev_2 img { padding-top: 90px; }
li a.lev_3 img { padding-top: 80px; }
li a.lev_4 img { padding-top: 70px; }
li a.lev_5 img { padding-top: 60px; }
li a.lev_6 img { padding-top: 50px; }
li a.lev_7 img { padding-top: 40px; }
li a.lev_8 img { padding-top: 30px; }
li a.lev_9 img { padding-top: 20px; }
li a.lev_10 img { padding-top: 10px; }
li a.lev_11 img { padding-top: 0; }

div.power_chart div.graph_legend
{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	color: #bcd;
	display: none;
	padding: 20px 0 0 0;
	width: 280px;
}

#content div.power_chart div.graph_legend
{
	padding: 10px 0 2px 0;
	width: 540px;
}
div.power_chart a:hover div.graph_legend
{
	display: block;
}

div.power_chart p
{
	color: #678 !important;
	margin: 0;
}
/* @end */

/* @group game page overrides */

body.gamepage #content
{
	width: 642px;
}

body.gamepage h3
{
	font-size: 36px;
	line-height: 32px;
}

body.gamepage h4
{
	font-size: 18px;
}

#content div#contestwidget
{
	margin: 1px 10px 5px 0;
	float: left;
}

object#game
{
	background: transparent
		url(https://cdn.sploder.com/chrome/player_bkgd.gif) no-repeat center
		center;
}

div.gameobject
{
	clear: both;
	margin-top: 8px;
	border: 1px solid white;
}


body.gamepage #content div.sharebar
{
	height: 36px;
	clear: both;
	margin-bottom: 10px;
	background: #333 url(../chrome/social_bar_bkgd.gif) repeat-x;
}

body.gamepage #content #viewpage .related_set
{
	padding-left: 18px;
	padding-bottom: 30px;
}

body.gamepage #content #viewpage .related_set .vignette
{
	width: 96px;
	height: 96px;
	margin: 0 6px 6px 0;
}

body.gamepage .related_set .game .photo img
{
	padding: 4px;
}

body.gamepage #sidebar
{
	float: left;
	width: 220px;
	padding: 0;
	margin-left: 20px;
}

body.gamepage #events
{
	margin-top: 96px;
}

body.gamepage .gamerating
{
	margin-left:  6px;
}

/* @end */
